# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
build/
dist/
.eggs/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache
